body 
{
    font-family: century;
    background-color: rgb(231, 226, 226);
    color: hsl(0, 0%, 3%);
}

header
{
    background-color: #c73631;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

main 
{
    max-width: 800px;
    margin: 20px auto;
}

div 
{
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
}

img 
{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
